<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudify</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="cloud.png" type="image/png" />
  </head>
  <body>
    <div class="container-folder-form">
      <form action="/folder/create" method="post">
        <h1 class="create-folder-h1">Create Folder</h1>
        <input
          type="text"
          name="folderName"
          id=""
          maxlength="12"
          minlength="1"
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
